@media (min-width: 280px) and (max-width: 1024px) {

    /*** Header ***/

    header {
        height: 93vh;
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;}

    /*** Get Implants ***/

    .get-btn {
        min-width: 200px; 
        width: 90vmin;
        min-height: 130px;
        height: 45vmin;
        font-size: 2.8rem;}

    /*** Content ***/

    content {
        width: 100%;
        height: 610vh;}

    /*** Info ***/
        
    .info {
        height: 100vh;
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;}

    /*** Main ***/

    .menu {
        height: 520vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 4vmin;
    }

    .menu-items {
        width: 96%;
        height: 320px;
        background-color: #fff;
    } 
}